@using Marketplace.Dependencies;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var buyerData = DependencyResolver.Instance.BuyresLogic.GetBuyerData(HttpContext.Current.User.Identity.Name);

}

<body>
    <div>
        Вы зашли как (login): @HttpContext.Current.User.Identity.Name
    </div>
    <div>
        добавить исключение, если данные в таблице пользователя отсутствуют
        Name: @buyerData.Name
    </div>
    <div>
        Surname: @buyerData.Surname
    </div>
    <div>
        DateOfBirth: @buyerData.DoB.ToShortDateString()
    </div>
    <div>
        Email: @buyerData.Email
    </div>

    <div>
        <button id="EditBtn" type="submit" class="btn btn-primary">Редактировать данные</button>
    </div>

</body>


<script>
    $('#EditBtn').click(function () {
        location.href = '/Pages/Buyers/PersonalAccountEditPage';
    })
</script>