@using Marketplace.Dependencies;

@{
    Layout = "~/Pages/Layout/_BasicLayout.cshtml";

    var buyerData = DependencyResolver.Instance.BuyresLogic.GetBuyerData(HttpContext.Current.User.Identity.Name);

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Вы зашли как (login): @HttpContext.Current.User.Identity.Name
    </div>
    <div>
        добавить исключение, если данные в таблице пользователя отсутствуют
        Name: @buyerData.Name
    </div>
    <div>
        Surname: @buyerData.Surname
    </div>
    <div>
        DateOfBirth: @buyerData.DoB.ToShortDateString()
    </div>
    <div>
        Email: @buyerData.Email
    </div>

    <div>
        Кнопка На главную
    </div>



    <div>
        <button id="EditBtn" type="submit" class="btn btn-primary">Редактировать данные</button>
    </div>

    <div>
        Кнопка К покупкам
        <a href="~/Pages/Catalog/ShopWindowPage.cshtml">~/Pages/Catalog/ShopWindowPage.cshtml</a>
    </div>

    <div>
        Кнопка В корзину
        <a href="~/Pages/Buyers/ShoppingCartPage.cshtml">~/Pages/Buyers/ShoppingCartPage.cshtml</a>
    </div>

</body>
</html>

<script>
    $('#EditBtn').click(function () {
        location.href = '/Pages/Buyers/PersonalAccountEditPage';
    })
</script>